.TaskDiv {
  margin-left: 23vw;
  margin-top: 13vh;
  padding: 30px;
  border: 6px solid #2871ce;
  background-color: #5ab6e7;
  width: 55vw;
  height: 60vh;
  border-radius: 15px;
}

.colorSaver {
  width: 40px;
  height: 60vh;
  float: left;
  position: relative;
  top: -30px;
  left: -30px;
  background-color: #5ab6e7;
  border-radius: 15px;
}

@media only screen and (max-device-width: 600px) {
  .TaskDiv {
    position: absolute;
    margin: 0;
    top: 100px;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100vw;
    height: calc(90vh - 100px);
    padding: 10vh 0 0 0;
    border-radius: 0;
    z-index: -1;
  }

  .colorSaver {
    display: none;
  }
}
