.congrats {
  background-color: rgb(90, 157, 212);
  box-shadow: 2px 2px black;
  outline: none;
  padding: 10px;
  width: 450px;
  margin: 0 auto;
  font-size: 50px;
}

.subtitle {
  margin-top: 5vh;
  font-size: 25px;
}

h1 {
  font-size: 40px;
}

.page p {
  width: 35vw;
  margin: 10vh auto;
  min-width: 500px;
  font-size: 20px;
  max-width: 1000px;
}

.button {
  width: 200px;
  height: 60px;
  font-size: 30px;
  background-color: rgb(90, 157, 212);
  border-radius: 10px;
  box-shadow: 2px 2px black;
  outline: none;
}

.button:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
  cursor: pointer;
}

@media only screen and (max-device-width: 480px) {
  .congrats {
    font-size: 30px;
  }

  .page p {
    margin: 8vh auto;
    min-width: 80vw;
    font-size: 18px;
  }
}
