.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20vh;
  display: flex;
  align-items: center;
  max-width: 100vw;
}

.header img {
  height: 13vh;
  margin-left: 5vw;
  border-radius: 50%;
  box-shadow: 0 0 2vh 1vh white;
  /* background-color: white;
  padding: 20px; */
}

.header * {
  display: inline;
}

nav {
  position: relative;
  left: -7%;
  margin: 0 auto;
  max-width: 60vw;
  overflow-x: scroll;
  white-space: nowrap;
}

ul {
  padding: 0;
}

@media only screen and (max-device-width: 480px) {
  .header {
    height: 15vh;
  }

  nav {
    margin-left: 20vw;
    padding: 5px 0;
    width: 55vw;
    background-color: gray;
    box-shadow: 0 0 10px 5px grey;
  }

  .header img {
    height: 8vh;
  }
}
